@model Hackathon_2025_Filipino_Homes.Models.Bounty
@{
	ViewData["Title"] = "Create Bounty - Filipnio Homes";
}

<div class="container-fluid">
	<form asp-action="CreateProcess" asp-controller="Bounty" method="post">
		<div class="form-group">
			<label for="Title">Title</label>
			<input asp-for="Title" type="text" class="form-label" />
		</div>
		<div class="form-group">
			<label for="Title">Description</label>
			<input asp-for="Description" type="text" class="form-label" />
		</div>
		<div class="form-group">
			<label for="Reward">Reward</label>
			<input asp-for="reward" type="number" class="form-label" />
		</div>
		<button type="submit" class="btn btn-primary-px-4">Create Bounty</button>
	</form>
</div>