@model IEnumerable<Hackathon_2025_Filipino_Homes.Models.Bounty>
@{
	ViewData["Title"] = "Bounty Homepage - Filipino Homes";
	var currentUserId = ViewBag.CurrentUserId as string;
}


 <div class="container">
	<a class="btn btn-primary" asp-action="Create" asp-controller="Bounty" asp-route-id="@currentUserId">Create Bounty</a>


	<h3>Homepage</h3>	

	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th>User</th>
				<th>Title</th>
				<th>Description</th>
				<th>Reward</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var bounty in Model){
			<tr>
					<td>@bounty?.account?.Username</td>
					<td>@bounty?.Title</td>
					<td>@bounty?.Description</td>
					<td>@bounty?.reward</td>
			</tr>
			}
		</tbody>
	</table>
</div> 