@{
    ViewData["Title"] = "Home Page";
    <link href="~/css/CustomStyle.css" type="text/css" rel="stylesheet"/>
}
<img src="~/Homepage.svg" class="h-100 w-100"/>
<div class=" d-flex">
    <a class="btn btn-red rounded-5 position-absolute z-1 px-5 py-3" href="/Authentication/Login" style="left: 45%; bottom: 40%;">Get started</a>
</div>
