.btn-red {
    background-color: #D32F2F;
    color: white;
}

.btn-red:hover{
    background-color: transparent;
    color: #D32F2F;
    border: solid 1px #D32F2F;
}

.btn-red-active {
    background-color: transparent;
    color: #D32F2F;
    border: solid 1px #D32F2F;
}

.btn-red-active:hover {
    background-color: #D32F2F;
    color: white;
}

.text-red {
    color: #D32F2F;
}

.sticky-bottom-right{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.bg-tlight {
    background-color: #F5F9FF;
}

.img-bounty{
    aspect-ratio: 9/4;
    object-fit: contain;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px)
}